Pipfile
target/
site/
venv/
docs/*md
docs/types/
*/my_schema.*
.DS_Store
.idea
__pycache__/
Pipfile.lock
tests/data/parsed_data.tsv
scratch/scratch_1.py
src/.ipynb_checkpoints/Untitled-checkpoint.ipynb
tests/data/hpo_czech.xliff
tests/data/all_translations.zip
tests/data/all_translations/*
